$corporate-1: rgb(24, 158, 144);
$corporate-2: rgb(239, 243, 246);;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  .blog_section .blog_content .blog_item {
    display: flex;
    background: $corporate-2;
    align-items: center;
  }
  .blog_section .blog_content .blog_item:hover .blog_image img {
    transform: scale(1.1);
  }
  .blog_section .blog_content .blog_item .blog_image {
    overflow: hidden;
    padding: 0;
  }
  .blog_section .blog_content .blog_item .blog_image img {
    width: 50vw;
    transition: transform 0.5s ease-in-out;
  }

  .blog_section .blog_content .blog_item .blog_details {
    padding: 25px 20px 30px 20px;
  }
  .blog_section .blog_content .blog_item .blog_details .blog_title h5 a {
    color: #020d26;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
    transition: all 0.3s;
    text-decoration: none;
  }
  .blog_section .blog_content .blog_item .blog_details .blog_title h5 a:hover {
    color: #ff5e14;
  }

  .blog_section .blog_content .blog_item .blog_details p {
    margin-top: 4px;
    padding: 20px 0 4px;
  }
  .blog_section .blog_content .blog_item .blog_details a {
    font-size: 16px;
    display: inline-block;
    color: #ff5e14;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .blog_section .blog_content .blog_item .blog_details a:hover {
    color: #020d26;
  }
  .blog_section .blog_content .blog_item .blog_details a i {
    vertical-align: middle;
    font-size: 20px;
  }
  .blog_section .blog_content .owl-nav {
    display: block;
  }
  .blog_section .blog_content .owl-nav .owl-next {
    position: absolute;
    left: 50%;
    bottom: 0;
    text-align: center;
    z-index: 5;
    width: 60px;
    height: 60px;
    outline: 0;
    background: #fff;
    transition: all 0.3s;
    color: $corporate-1;
  }
  .blog_section .blog_content .owl-nav .owl-next span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  .blog_section .blog_content .owl-nav .owl-next:hover {
    background: $corporate-1;
    color: #fff;
  }
  .blog_section .blog_content .owl-nav .owl-prev {
    position: absolute;
    right: 50%;
    bottom: 0;
    text-align: center;
    z-index: 5;
    width: 60px;
    height: 60px;
    outline: 0;
    background: $corporate-1;
    color: #fff;
    transition: all 0.3s;
  }
  .blog_section .blog_content .owl-nav .owl-prev span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  .blog_section .blog_content .owl-nav .owl-prev:hover {
    background: #fff;
    color: $corporate-1;
  }
  owl-controls {
    text-align: center;
}


 
  @media only screen and (max-width: 577px) {

  }