@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap");

$corporate-1: rgb(24, 158, 144);
$corporate-2: rgb(239, 243, 246);
$text-color: #333;

%font-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.4rem;
}

%font-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}

%font-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
}

.card_section .card_content .card_item {
  display: flex;
  background: $corporate-2;
  align-items: center;
  width: 100vw;
  position: relative;
}
.card_section .card_content .card_item:hover .card_image img {
  transform: scale(1.1);
}
.card_section .card_content .card_item .card_image {
  overflow: hidden;
  padding: 0;
  width: 50vw;
}

.card_section .card_content .card_item .card_image img {
  height: 100%;

  transition: transform 0.5s ease-in-out;
}

.card_section .card_content .card_item .card_details {
  padding-left: 6vw;
  padding-right: 6vw;
  max-width: 50vw;
}

.card_section .card_content .card_item .card_details .card_title h2 {
  transition: all 0.3s;
  @extend %font-1;
}

.card_section .card_content .card_item .card_details .card_title h3 {
  transition: all 0.3s;
  @extend %font-2;
  color: $corporate-1;
  margin-bottom: 1rem;
}

.card_section .card_content .card_item .card_details p {
  @extend %font-text ;
  margin: 18px 0px 20px 0px;
}

.btn_card {
  @extend %font-text ;
  padding: 13px 35px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: none;
  border: 1px solid $corporate-1;
  color: white;
  background-color: $corporate-1;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn_card_light {
  background-color: transparent;
}

.btn_card a {
  text-decoration: none;
  color: rgb(24, 158, 144);
}

.btn_card_group {
  display: flex;
}

.card_section .card_content .owl-nav .owl-next {
  position: absolute;
  left: 50vw;
  bottom: 0px;
  text-align: center;
  z-index: 5;
  width: 70px;
  height: 70px;
  outline: 0;
  color: #fff;
  transition: all 0.3s;
  background: $corporate-1;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_section .card_content .owl-nav .owl-next span {
  font-size: 25px;
  margin-top: -6px;
  display: inline-block;
}
.card_section .card_content .owl-nav .owl-next:hover {
  opacity: 0.8;
}
.card_section .card_content .owl-nav .owl-prev {
  position: absolute;
  right: 50vw;
  bottom: 0px;
  text-align: center;
  z-index: 5;
  width: 70px;
  height: 70px;
  outline: 0;
  color: $corporate-1;
  background: #fff;
  transition: all 0.3s;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_section .card_content .owl-nav .owl-prev span {
  font-size: 25px;
  margin-top: -6px;
  display: inline-block;
}
.card_section .card_content .owl-nav .owl-prev:hover {
  opacity: 0.8;
}

.arrow-icon {
  width: 25px;
}

.owl-theme .owl-dots {
  position: absolute;
  text-align: center;
  bottom: 40px;
  left: 56vw;
  z-index: 10;
}

.owl-dot span {
  width: 12px;
  height: 12px;
  background: $corporate-1;
  display: inline-block;
  margin: 3px;
  border-radius: 50%;
  z-index: 10;
  opacity: 0.3;
}
.active span {
  opacity: 1;
}



@media only screen and (max-width: 1280px) {
  .owl-theme .owl-dots {
    bottom: 10px;
  }

  .card_section .card_content .owl-nav .owl-next  {
    width: 50px;
    height: 50px;
  }

  .card_section .card_content .owl-nav .owl-prev  {
    width: 50px;
    height: 50px;
  }
  .btn_card {
    padding: 8px 15px;
    font-size: 12px;
  }
  .card_section .card_content .card_item .card_details .card_title h2 {
    font-size: 1.8rem;
    line-height: 1.40rem;
  }
  .card_section .card_content .card_item .card_details .card_title h3 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .card_section .card_content .card_item .card_details p {
    font-size: 0.8rem;
    line-height: 1rem;

  }
}

@media only screen and (max-width: 939px) {
  .owl-theme .owl-dots {
    bottom: 5px;
  }

  .card_section .card_content .owl-nav .owl-next  {
    width: 50px;
    height: 40px;
    left: 94vw;
    bottom:1vh;

  }

  .card_section .card_content .owl-nav .owl-prev  {
    width: 50px;
    height: 40px;
    right: 6vw;
    bottom:1vh;
  }

  .btn_card {
    padding: 4px 10px;
    font-size: 12px;
  }

  .card_section .card_content .card_item .card_details .card_title h3 {
   margin:0;
  }

}

@media only screen and (max-width: 850px) {

  .card_section .card_content .owl-nav .owl-next  {
    display:none;
  }

  .card_section .card_content .owl-nav .owl-prev  {
    display:none;
  }

  .card_section .card_content .card_item .card_details .card_title h3 {
   margin-bottom: 20px;
  }

  .card_section .card_content .card_item .card_details .card_title h2 {
    margin-bottom: 20px;
   }

  .card_section .card_content .card_item .card_details p {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .card_section .card_content .card_item .card_details .card_title h2 {
    margin-bottom: 10px;
   }
   .card_section .card_content .card_item .card_details .card_title h3 {
    margin-bottom: 10px;
   }

  .btn_card {
    margin-bottom: 35px;
  }

  .card_section .card_content .card_item .card_image  {
    width: 40vw;
  }
  .card_section .card_content .card_item .card_details {
    padding-left: 6vw;
    padding-right: 0vw;
    max-width: 50vw;
  }
}

@media only screen and (max-width: 586px) {
  .card_section .card_content .card_item .card_details .card_title h2 {
    margin-bottom: 10px;
   }
   .card_section .card_content .card_item .card_details .card_title h3 {
    margin-bottom: 10px;
   }
   .card_section .card_content .card_item .card_details {
    padding-left: 0vw;
    padding-right: 0vw;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .btn_card {
    margin-bottom: 35px;
    font-weight: bold;
  }
  .card_item{
    flex-direction: column;
  }
  .card_section .card_content .card_item .card_image  {
    width: 100vw;
  }
  .card_section .card_content .card_item .card_image  img{
    opacity: 0.2;
  }
  .owl-theme .owl-dots {
    bottom: 10px;
    left: 50vw;
  }

}


@media only screen and (max-width: 461px) {
  .card_section .card_content .card_item .card_details {
    padding-left: 0vw;
    padding-right: 0vw;
    width: 100vw;
    position: absolute;
    top: 18%;
    left: 10%;
  }
  .btn_card {
    margin-bottom: 5px;
    height: fit-content;
    width: fit-content;

    font-weight: bold;
  }

  .btn_card_group {
    flex-direction: column;
  }


  .card_section .card_content .card_item .card_image  {
    width: 100vw;
  }
  .card_section .card_content .card_item .card_image  img{
    opacity: 0.2;
  }
  .owl-theme .owl-dots {
    bottom: 10px;
    left: 50vw;
  }

}